@page
@model ProductsWebApp.Pages.Customers.CreateModel
@{
}



<h2 class="mb-3">New Customer</h2>
@if (!Model.ErrorMessage.Equals("")) {
    <div class="alert alert-danger" role="alert">@Model.ErrorMessage</div>
}
@if (!Model.SuccessMessage.Equals(""))
{
    <div class="alert alert-success" role="alert">@Model.SuccessMessage</div>
}

<form method="POST">
    <div class="row mb-3">
        <label for="name" class="col-md-1 col-form-label">Όνομα Πελάτη</label>
        <div class="col-md-6">
            <input type="text" class="form-control" name="name" id="name" 
                    placeholder="Enter customer name" value="@Model.customerDTO.Name" />
        </div>
    </div>
    <div class="row mb-3">
        <label for="sname" class="col-md-1 col-form-label">Επώνυμο Πελάτη</label>
        <div class="col-md-6">
            <input type="text" class="form-control" name="sname" id="sname" 
                    placeholder="Enter customer surname" value="@Model.customerDTO.Surname" />
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-md-1 d-grid">
            <a href="/Customers/Index" role="button" class="btn btn-light">Return</a>
        </div>
        <div class="col-md-3 d-grid">
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
        <div class="col-md-3 d-grid">
            <a href="/" role="button" class="btn btn-outline-primary">Cancel</a>
        </div>
        
    </div>
</form>
